{% spaceless %}{% load sekizai_tags %}

{% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_file/css/sb_file.css" />{% endaddtoblock %}

{% if instance.parent.plugin_type != 'TextPlugin' %}<div class="sb_file">{% endif %}
    <a{% if not instance.rel %} rel="nofollow"{% endif %}{% if instance.file_exists %} href="{{ instance.file.url }}" target="_blank"{% endif %}{% if instance.link_title %} title="{{ instance.link_title }}"{% endif %}>{% if instance.is_show_icon %}{% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_core/css/file_icons.css" />{% endaddtoblock %}<span class="f_icon ext_{{ instance.get_icon_name }}"></span><span class="title">{% include 'sb_file/_file_title.html' %}</span>{% else %}{% include 'sb_file/_file_title.html' %}{% endif %}</a>
{% if instance.parent.plugin_type != 'TextPlugin' %}</div>{% endif %}
{% endspaceless %}